@model StudentManagementL1.Models.StudentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentsVm.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentsVm.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentsVm.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentsVm.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentsVm.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentsVm.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specializationVm.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specializationVm.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.studentsVm.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
